FORMAT: 1A
HOST: http://server.aouk.co.uk/services/rest

# Explin Api

Technology stack:
- Apache Felix (OSGI container)(4.6)
- Couchbase (4.0)
- Jersey(JAX-RS) (2.16.1)
- Jetty (9.2)

The main OSGI modules:
- bundle-manager (registry 'Chain' modules in explinAPI)
- couchbase-mod (Couchbase Data Layer )
- explin-rest (REST implementation services )
- services (core interface)
- tc611 (Time Capsule)
- testapp (js application for testing services)
- profile-manager (apply the profile)

## Product [/v1/products/id/{id}]

+ id

+ Parameters
    + id (required, number, `100228`) ... product id (document id)

### Get Product [GET]

+ Response 200 (application/json)

        {   
            "Crib__Rollaway":null,
            "Internet__Wireless__Fee":null,
            "Child__Program":null,
            "Suburb":"",
            "Eco__Friendly":null,
            "Discount__Seniors":null,
            "Number__of__Rooms":"0",
            "Local__Currency":null,
            "Number__of__Floors":"0",
            "Club__Room__Benefits":null,"Meal__Inc__All__Inclusive":null,"Department":null,"Country__Code":"FR","Fitness__Equipment":"0","Recreation__Game__Room":"0",
            "Daily__Maid":"0","Beauty__or__Hair__Salon":null,"Beach__Location":"0","Swimming__Pool":"0","Snowski":"0","NS__City__Place__Key":"0","Air__Conditioning":"0",
            "Laundry__Service":null,"Refrigerator":"0","Discount__AAA":null,"Baby__Sitting":null,"Pet__Size__Limit":"0","Longitude":null,"State__Code":"","Beach__Friendly":null,
            "Tea__Coffee__Making__Facilities":"0","Newspaper":"0","Meal__Inc__MAP":null,"Whirlpool":"0","Country":"France","Export__Status":"0","Sports__Friendly":null,"Telephone__Message":"0",
            "Fireplace":"0","Food__&__Beverage__Friendly":null,"In__room__safe":"0","Bikes":"0","Family__Voice":"N","Description":"Ibis Budget Pontault Combault RN4","VCR":"0","Day__Spa":"0",
            "Horseback":"0","Microwave":"0","Airport__Near":null,"NS__Base__City__Place__Key":"0","Internet__Wireless":null,"Checkout__Time":"0","Pets__Allowed":null,"Iron__and__Ironing__Board":"0",
            "Luxury__Voice":"N","Internet__Common":null,"Discount__Group":null,"Wheel__Chair__Access__in__Hotel":null,"Country__Group":"","Health__Club__or__Gym":"0","Checkin__Time":"0","Parking":null,
            "Suburb__Location":"0","Multilingual__Staff":null,"Shopping__Friendly":null,"Pet__Fee":null,"Swimming__Pools__Indoor__No":"0","Jogging":"0","Tourist__Area__Location":"0","Business__Friendly":null,
            "Television":"0","Balcony__or__Terrace":"0","SKU_ID":"100228","Meal__Inc__AP":null,"ATM":null,"Laundry__Room":null,"Extended__Stay":null,"Car__Rental__Desk":null,"Latitude":null,"All__Suite":null,
            "Business__Center":null,"Beach":"0","Year__Built":"0","Rural__Location":"0","Internet__Cable":null,"Childs__Pool":"0","Minibar":"0","Global__ID":"","Cable__TV":"0","Hottub":"0",
            "Pet__Size__Limit__Indicator":null,"Non__Smoking":"0","Golf":"0","City__Code":"","Complementary__Transport":null,"No__of__On__Site__Bars":"0","City":"Pontault-Combault","Resort__Location":null,
            "Airport__Location":"0","Internet__Common__Wireless__Fee":null,"Kitchenette":"0","City__Location":"0","Active":"0","Mountain__Location":"0","Mod.__Date":"2015/06/29 04:47:28.000000000",
            "Couples__Friendly":null,"Conference__Centre":null,"State":"","Discount__Govt__MilIitary":null,"Swimming__Pools__Outdoor__No":"0","No__of__On__Site__Restaurants":"0","Management__Facility":null,
            "Region":"","Meal__Inc__CP":null,"Tennis__Court__Indoor":"0","Wedding__Friendly":null,"Pet__Friendly":null,"Adult__Friendly":null,"Convention__Centre__Location":"0","Boutique__Voice":"N",
            "User":"core","Pet__Services":null,"Internet__Common__Fee":null,"Telephone":"0","Parking__Valet":null,"Family__Friendly":null,"Room__Service":null,"Singles__Friendly":null,"Discount__Corp":null,
            "Scuba":"0","Boats":"0","Swimming__Pool__Outdoor":"0","Region__Code":"","Luxury__Friendly":null,"Computer__Available":null,"Water__Ski":"0",
            "Product__id":"AA160229","LGBT__Friendly":null,
            "Fishing":"0","Fax__Available":null,"Internet__Common__Wireless":null,"Parking__Cost":null,"Region__URL":"","Shopping__Mall":"0","Snorkeling":"0","Phone":"8-9268-0944",
            "Internet__Cable__Fee":null,"Product__Type":"0","Tennis__Court__Outdoor":"0","Mod_Num":"0","Pet__Amenities":null,"Meal__Inc__FB":null,"Comments":"","Vendor":null,
            "Gift__Shop__or__Boutique":null,"Product__Created":null,"Concierge":null,"Casino":"0","Year__Rennovated":"0","Spa__-__Relax__Friendly":null,"Complementary__Coffee":null,"Fax":"1-6443-8550"
        }
        
        
## Products [/v1/products?OSGIChain={OSGIChain}&city={city}&offset={offset}&limit={limit}&profile={profileName}]

+ OSGIChain
+ city
+ key - key=value

+ Parameters
    + OSGIChain (optional, string, `fake.bundle.id`) ... OSGI Chain
    + city (optional, string, `San Francisco,Atlanta,New York`) ... Key Pair Value Array
    + offset (optional, number, `0`) ... offset, default value is 0
    + limit (optional, number, `10`) ... limit, default value is 10
    + profileName (optional, string, `Hotel`) ... apply profile to products

### Get Products [GET]
+ Request

    + Headers
    
            Authorization: Basic ABCDEF
        
+ Response 200 (application/json)

    + Headers
    
            ETag: "34ad82f6b67967518c3d69e99f503ecf"
            Cookie: "JSESSIONID=1wbkng0xx01t0vw95dx0l9w92"
            
    + Body

            [{"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-122.393,"lat":37.7825},
                "country":"United States","website":"http://www.21st-amendment.com/","address":["563 Second Street"],"code":"94107","city":"San Francisco","phone":"1-415-369-0900","name":"21st Amendment Brewery Cafe","description":"The 21st Amendment Brewery offers a variety of award winning house made brews and American grilled cuisine in a comfortable loft like setting. Join us before and after Giants baseball games in our outdoor beer garden. A great location for functions and parties in our semi-private Brewers Loft. See you soon at the 21A!","state":"California","type":"brewery","updated":"2010-10-24 13:54:07"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-122.401,"lat":37.7635},"country":"United States","website":"","address":["1705 Mariposa Street"],"code":"94107","city":"San Francisco","phone":"1-415-863-8350","name":"Anchor Brewing","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-84.4353,"lat":33.818},"country":"United States","website":"http://www.atlantabrewing.com/","address":["2323 Defoor Hills Rd NW"],"code":"30318","city":"Atlanta","phone":"404-355-5558","name":"Atlanta Brewing Company","description":"","state":"Georgia","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-122.51,"lat":37.7694},"country":"United States","website":"","address":["1000 Great Highway"],"code":"94121","city":"San Francisco","phone":"1-415-386-8439","name":"Beach Chalet Brewery","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-122.398,"lat":37.7756},"country":"United States","website":"","address":["650 Fifth Street #403"],"code":"94107","city":"San Francisco","phone":"","name":"Big Bang Brewery (Closed)","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"GEOMETRIC_CENTER","lon":-74.0086,"lat":40.7457},"country":"United States","website":"http://chelseabrewingco.com/","address":["Chelsea Piers, Pier 59"],"code":"10011","city":"New York","phone":"212.336.6440","name":"Chelsea Brewing Company","description":"Chelsea Brewing Company, rated the best brewery in New York, is a first class waterfront restaurant and the only micro-brewery in Manhattan located at pier 59.With over 15 years of experience, and 8 National Awards, we are proud to serve up to 27 natural hand-crafted ales and specialty beers using only the finest malts and hops from around the world. We offer beer tastings, brewery tours and group packages.","state":"New York","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"APPROXIMATE","lon":-122.419,"lat":37.7749},"country":"United States","website":"","address":[],"code":"","city":"San Francisco","phone":"","name":"Golden Gate Park Brewery","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"APPROXIMATE","lon":-73.9874,"lat":40.7323},"country":"United States","website":"http://www.heartlandbrewery.com/","address":[],"code":"10003","city":"New York","phone":"1-212-645-3400","name":"Heartland Brewery Union Square","description":"(No longer brewing)","state":"New York","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"RANGE_INTERPOLATED","lon":-122.445,"lat":37.7702},"country":"United States","website":"http://www.magnoliapub.com/","address":["1398 Haight Street"],"code":"94117","city":"San Francisco","phone":"1-415-864-7468","name":"Magnolia Pub and Brewery","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"RANGE_INTERPOLATED","lon":-84.3056,"lat":33.9089},"country":"United States","website":"","address":["2015 Afond Court"],"code":"30341","city":"Atlanta","phone":"1-770-841-2953","name":"New River Brewing","description":"","state":"Georgia","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"RANGE_INTERPOLATED","lon":-122.419,"lat":37.7481},"country":"United States","website":"","address":["3435 Cesar Chavez #227"],"code":"94110","city":"San Francisco","phone":"1-650-343-2739","name":"Shmaltz Enterprises","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"APPROXIMATE","lon":-122.419,"lat":37.7749},"country":"United States","website":"http://www.shmaltz.com/","address":[],"code":"","city":"San Francisco","phone":"","name":"Shmaltz Brewing Company","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"RANGE_INTERPOLATED","lon":-122.381,"lat":37.7387},"country":"United States","website":"","address":["1195-A Evans Avenue"],"code":"94124","city":"San Francisco","phone":"1-415-642-3371","name":"Speakeasy Ales and Lagers","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-84.3813,"lat":33.8087},"country":"United States","website":"http://www.sweetwaterbrew.com/","address":["195 Ottley Drive"],"code":"30324","city":"Atlanta","phone":"1-404-691-2537","name":"Sweetwater Brewing - Atlanta","description":"","state":"Georgia","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"},
                {"beer-sample":{"geo":{"accuracy":"ROOFTOP","lon":-122.4,"lat":37.7855},"country":"United States","website":"","address":["661 Howard Street"],"code":"94105","city":"San Francisco","phone":"1-415-974-0905","name":"ThirstyBear Brewing","description":"","state":"California","type":"brewery","updated":"2010-07-22 20:00:20"},"fakeBundle":"Processed"}
            ]
            
+ Response 401

+ Request

    + Headers
    
            Cookie: "JSESSIONID=1wbkng0xx01t0vw95dx0l9w92"
            If-None-Match: "34ad82f6b67967518c3d69e99f503ecf"
    
+ Response 304 (not modified)



## Parent [/v1/products/parent?id={id1}&id={id2}]

+ id

+ Parameters
    + id (optional, string, `AA001125`) ... List of golden product IDs as key value array

### Get Parent [GET]
+ Request

    + Headers
    
            Authorization: Basic ABCDEF
        
+ Response 200 (application/json)

    + Body

            [{"Geo Latitude":30.68932,"aoCode":"AA001124"}]


## Children [/v1/products/children?id={id1}&id={id2}]

+ id

+ Parameters
    + id (optional, string, `AA001125`) ... List of golden product IDs as key value array

### Get Children [GET]
+ Request

    + Headers
    
            Authorization: Basic ABCDEF
        
+ Response 200 (application/json)

    + Body

            [{"Geo Latitude":33.68932,"aoCode":"AA001127","parent_id":"AA001125"}]




## Parent And Children [/v1/products/parentAndChildren?id={id1}&id={id2}]

+ id

+ Parameters
    + id (optional, string, `AA001125`) ... List of golden product IDs as key value array

### Get Parent And Children [GET]
+ Request

    + Headers
    
            Authorization: Basic ABCDEF
        
+ Response 200 (application/json)

    + Body

            [{"Geo Latitude":30.68932,"aoCode":"AA001124"},[{"Geo Latitude":33.68932,"aoCode":"AA001127","parent_id":"AA001125"}]]

## Available Bundles [/AvailableBundles]

### Get Available Bundles [GET]

+ Response 200 (application/json)

        ["fake.bundle.id"]

## Delta Changes [/v1/products/deltas?startDateTime={startDateTime}&endDateTime={endDateTime}&loadProduct={loadProduct}&offset={offset}&limit={limit}]

This call is to capture the Change Management of Products and the objects between two points in Time.

+ startDateTime
+ endDateTime
+ loadProduct
+ offset
+ limit

+ Parameters
    + startDateTime (optional, string, `[2015,7,1]`) ... date time in array style [yyyy, MM, dd, HH, mm, ss]
    + endDateTime (optional, string, `[2015,10,25]`) ... date time in array style [yyyy, MM, dd, HH, mm, ss]
    + loadProduct (optional, string, `none`) ... flag to download the product (none/reference/all)
    + offset (optional, number, `0`) ... offset, the default value is 0
    + limit (optional, number, `10`) ... limit, the default value is 10
    
### Get Delta Changes  [GET]

+ Response 200 (application/json) 

        loadProduct=none 
        {
            "limit":10,
            "total":5000,
            "offset":0,
            "content":  [  
            {
            "date": "2015-7-21 23:13:32",
            "id": 24,
            "status": "new"
            },
           {
            "date":"2015-7-21 23:13:33",
            "id": 30,
            "status": "new"
            }
        ]
        }

+ Response 200 (application/json)

        loadProduct=reference
        {
            "limit":10,
            "total":5000,
            "offset":0,
            "content":    [ 
            {
            "date": "2015-7-21 23:13:32",
            "product": {
                "Department":null,
                "Description":"Ibis Budget Pontault Combault RN4",
                "User":"core",
                "Mod.__Date":"2015/06/29 04:47:28.000000000",
                "Vendor":null,
                "Product__id":"AA160229",
                "Product__Type":"0"
                },
            "id": 24,
            "status": "new"
            },
           {
            "date":"2015-7-21 23:13:33",
            "product": {
                "Department":null,
                "Description":"Bears Lair Inn",
                "User":"core",
                "Mod.__Date":"2015/06/29 04:47:28.000000000",
                "Vendor":null,
                "Product__id":"AA032456",
                "Product__Type":"0"
                },
            "id": 30,
            "status": "new"
            }
        ]
        }

+ Response 200 (application/json)

        loadProduct=all
        {
            "limit":10,
            "total":5000,
            "offset":0,
            "content":  [  
            {
            "date": "2015-7-21 23:13:32",
            "product": {
                "Product__id":"AA000020",
                 "Crib__Rollaway":null,
            "Internet__Wireless__Fee":null,
            "Child__Program":null,
            "Suburb":"",
            "Eco__Friendly":null,
            "Discount__Seniors":null,
            "Number__of__Rooms":"0",
            "Local__Currency":null,
            "and all rest fields": "..."
                },
            "id": 24,
            "status": "new"
            },
           {
            "date":"2015-7-21 23:13:33",
            "product": {
                "Product__id":"AA000022",
                "Internet__Wireless__Fee":null,
            "Child__Program":null,
            "Suburb":"",
            "Eco__Friendly":null,
            "Discount__Seniors":null,
            "Number__of__Rooms":"0",
            "Local__Currency":null,
            "and all rest fields": "..."
                },
            "id": 30,
            "status": "new"
            }
        ]
        }


## Geo Hierarchy [/v1/products/hierarchy]
This service returns the full geo hierarchy.

### Get Hierarchy [GET]

+ Response 200 (application/json)

        {  
        "CHILD":[  
        {  
         "CHILD":[  
            {  
               "CHILD":[  
                  {  
                     "CHILD":[  
                        {  
                           "CHILD":[  
                              {  
                                 "Description":"Leith",
                                 "Product__id":"",
                                 "Product__Type":"0",
                                 "SKU__ID":"377620"
                              },
                              {  
                                 "Description":"Gorgie",
                                 "Product__id":"",
                                 "Product__Type":"0",
                                 "SKU__ID":"377621"
                              }
                           ],
                           "Description":"Edinburgh",
                           "Product__id":"",
                           "Product__Type":"0",
                           "SKU__ID":"377614"
                        }
                     ],
                     "Description":"Scotland",
                     "Product__id":"",
                     "Product__Type":"0",
                     "SKU__ID":"377615"
                  },
                  {  
                     "CHILD":[  
                        {  
                           "CHILD":[  
                              {  
                                 "Description":"Chiswick",
                                 "Product__id":"",
                                 "Product__Type":"0",
                                 "SKU__ID":"377625"
                              }
                           ],
                           "Description":"London",
                           "Product__id":"",
                           "Product__Type":"0",
                           "SKU__ID":"377624"
                        }
                     ],
                     "Description":"England",
                     "Product__id":"",
                     "Product__Type":"0",
                     "SKU__ID":"377623"
                  },
                  {  
                     "Description":"Wales",
                     "Product__id":"",
                     "Product__Type":"0",
                     "SKU__ID":"377626"
                  }
               ],
               "Description":"United Kingdom",
               "Product__id":"",
               "Product__Type":"0",
               "SKU__ID":"377622"
            }
         ],
         "Description":"Europe",
         "Product__id":"",
         "Product__Type":"0",
         "SKU__ID":"377619"
        },
        {  
         "CHILD":[  
            {  
               "Description":"New York",
               "Product__id":"",
               "Product__Type":"0",
               "SKU__ID":"377629"
            }
         ],
         "Description":"America",
         "Product__id":"",
         "Product__Type":"0",
         "SKU__ID":"377628"
        }
        ],
        "Description":"World",
        "Product__id":"",
        "Product__Type":"0",
        "SKU__ID":"377618"
        }

## Bundle Filter [/profilManager/{name}]
The Filter will keep only fields that specified in request. (others will be stripped).
+ name - need only when delete
 
### Get All Filters [GET]

+ Response 200 (application/json)

        {
            "AO_JSON_TYPE": "profile",
           "name": "Hotel",
        "filter": {
        "product": [
            "Description",
            "GTA_Rating",
            "Product__Type"
        ],
        "copy": [
            "Copy__Name",
            "Copy__Text"
        ]
        },
        "keyRename": {
        "product": {
             "GTA_Rating": "Rating",
             "Product__Type": "ProductType"
        },
        "copy": {
             "Copy__Name": "CopyName",
             "Copy__Text": "Text"
        }
        },
        "valueRename":  {
            "copy": {
                "Copy__Name": {
                    "ntm.product.URL.en":"Product URL"
            }
        }
        }
        }
        
### Add New Filters [POST]
If the filter already exists then overwritten
+ Request 

        {
           "name": "Hotel",
        "filter": {
        "product": [
            "Description",
            "GTA_Rating",
            "Product__Type"
        ],
        "copy": [
            "Copy__Name",
            "Copy__Text"
        ]
        },
        "keyRename": {
        "product": {
             "GTA_Rating": "Rating",
             "Product__Type": "ProductType"
        },
        "copy": {
             "Copy__Name": "CopyName",
             "Copy__Text": "Text"
        }
        },
        "valueRename":  {
            "copy": {
                "Copy__Name": {
                    "ntm.product.URL.en":"Product URL"
            }
        }
        }
        }
        
+ Response 204

### Delete Filter [DELETE]

+ Parameters
    + name (required, string, `tour`) ... filter name
    
+ Response 204

## Example Call products with filter [/v1/products?profile={profileName}]

+ Parameters
    + profileName (optional, string, `Hotel`) ... apply profile to products

### Apply Filters [GET]

+ Response 200 (application/json)

        [
            {
                "Product__id": "AA000000",
                "Country": "France",
                "City":"Pontault-Combault",
                "City__Code": "FPC",
                "Tour__Date":"2015-01-01",
                "Location": ""
            }   
        ]